<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="APIAutomationFrameworkATB11X_new">
        <classes>
            <class name="org.example.Tests.sample.testIntegration_sample">

            </class>
        </classes>
    </test>
</suite>